body{
    text-align: center;
}
#videoElement {
	/* width: 500px; */
	width: 90%;
    height: 90%;
	background-color: #666;
    border: 10px black solid;
}

.overlay-container{
    position: absolute;
    left: 50%;
    top: 30%;
}

.overlay-image{
    position: relative;
    left:-50%;

}

img{
    width: 200px;
}