body{
    text-align: center;
}
#videoElement {
	/* width: 500px; */
	width: 90%;
    height: 90%;
	background-color: #666;
    border: 10px black solid;
}

.overlay-container{
    position: absolute;
    left: 50%;
    top: 30%;
    padding: 10px;
}

.overlay-image{
    position: relative;
    left:-50%;

}

#overlay{
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


img{
    width: 200px;
}